POSTGRES_DB=marketplace
POSTGRES_USER=marketplace
POSTGRES_PASSWORD=CONTRASENA_LOCAL
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://HOST/BASE_DE_DATOS
DB_USERNAME=USUARIO
DB_PASSWORD=CONTRASENA
JWT_SECRET=SECRETO_ALEATORIO_DE_AL_MENOS_32_BYTES
JWT_EXPIRATION_MS=86400000
CATALOG_SEEDER_ENABLED=false
MIGRATE_H2_TO_POSTGRES=false
JPA_SHOW_SQL=false
JPA_DDL_AUTO=update
BOOTSTRAP_ADMIN_ENABLED=false
CORS_ALLOWED_ORIGIN_PATTERNS=http://localhost:5173
LOGGING_LEVEL_ROOT=INFO
